body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pdf-container {
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove as bordas do iframe */
}
.whatsapp-float {
position: fixed;
width: 60px;
height: 60px;
bottom: 20px;
right: 20px;
background-color: #ffffff00;
color: #ffffff00;
border-radius: 50px;
text-align: center;
font-size: 30px;
z-index: 100;
}

.whatsapp-icon {
width: 100%;
height: 100%;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .pdf-container {
        padding: 5px; /* Reduzir o padding em telas menores */
    }

    iframe {
        height: 100vh; /* Ocupar a altura total da tela */
    }

    .whatsapp-float {
        width: 50px; /* Reduzir o tamanho do botão do WhatsApp */
        height: 50px;
        bottom: 15px;
        right: 15px;
    }
}
