body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pdf-container {
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove as bordas do iframe */
}
.whatsapp-float {
position: fixed;
width: 60px;
height: 60px;
bottom: 20px;
right: 20px;
background-color: #ffffff00;
color: #ffffff00;
border-radius: 50px;
text-align: center;
font-size: 30px;
z-index: 100;
}

.whatsapp-icon {
width: 100%;
height: 100%;
}
.navbar {
    background-color: #9f340c; /* Cor da navbar */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    border: none; /* Remove a borda */
}

.navbar-toggler:focus {
    outline: none; /* Remove o contorno ao focar */
}

.navbar-toggler-icon {
    background-image: none; /* Remove a imagem padrão do Bootstrap */
}

.navbar-toggler::after {
    content: '\f0c9'; /* Código Font Awesome para o ícone */
    font-family: "Font Awesome 5 Free"; /* Certifique-se de ter o Font Awesome incluído no seu projeto */
    font-weight: 900; /* Usa o peso do ícone sólido */
    color: white; /* Cor do ícone */
    font-size: 24px; /* Tamanho do ícone */
}

/* Ícone do toggler ao ser clicado */
.navbar-toggler.collapsed::after {
    content: '\f00d'; /* Código Font Awesome para o ícone de fechar */
}
.navbar-brand img {
    width: 110px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 15px; /* Adiciona espaço à direita do toggler */
    }
}


footer {
    background: #9f340c;
    color: white;
    font-family: 'Bebas Neue';
}


/* Ajustes de responsividade */
@media (max-width: 768px) {
    .pdf-container {
        padding: 5px; /* Reduzir o padding em telas menores */
    }

    iframe {
        height: 100vh; /* Ocupar a altura total da tela */
    }

    .whatsapp-float {
        width: 50px; /* Reduzir o tamanho do botão do WhatsApp */
        height: 50px;
        bottom: 15px;
        right: 15px;
    }
}
